In [1]:
import pandas as pd

In [2]:
headers = pd.read_csv('headers_hourly02.txt', sep = ' ', header = 0)

In [3]:
headers = headers.T
headers = headers[:-1]
headers_list = headers.iloc[:,0]

In [4]:
headers_list

1                WBANNO
2              UTC_DATE
3              UTC_TIME
4              LST_DATE
5              LST_TIME
6                CRX_VN
7             LONGITUDE
8              LATITUDE
9                T_CALC
10             T_HR_AVG
11                T_MAX
12                T_MIN
13               P_CALC
14              SOLARAD
15         SOLARAD_FLAG
16          SOLARAD_MAX
17     SOLARAD_MAX_FLAG
18          SOLARAD_MIN
19     SOLARAD_MIN_FLAG
20        SUR_TEMP_TYPE
21             SUR_TEMP
22        SUR_TEMP_FLAG
23         SUR_TEMP_MAX
24    SUR_TEMP_MAX_FLAG
25         SUR_TEMP_MIN
26    SUR_TEMP_MIN_FLAG
27            RH_HR_AVG
28       RH_HR_AVG_FLAG
29      SOIL_MOISTURE_5
30     SOIL_MOISTURE_10
31     SOIL_MOISTURE_20
32     SOIL_MOISTURE_50
33    SOIL_MOISTURE_100
34          SOIL_TEMP_5
35         SOIL_TEMP_10
36         SOIL_TEMP_20
37         SOIL_TEMP_50
38        SOIL_TEMP_100
Name: 0, dtype: object

In [8]:
df = pd.DataFrame()
for year in range(2004, 2024):
    tmp = pd.read_csv('./hourly02/'+ str(year) + '/CRNH0203-' + str(year) + '-NY_Ithaca_13_E.txt', delimiter= '\s+', header = None, na_values = -9999)
    df = pd.concat([df, tmp], axis = 0)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,64758,20041027,2200,20041027,1700,1.201,-76.25,42.44,NaN,NaN,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
1,64758,20041027,2300,20041027,1800,1.201,-76.25,42.44,NaN,NaN,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
2,64758,20041028,0,20041027,1900,1.201,-76.25,42.44,7.8,7.6,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
3,64758,20041028,100,20041027,2000,1.201,-76.25,42.44,6.5,7.0,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
4,64758,20041028,200,20041027,2100,1.201,-76.25,42.44,5.4,6.2,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,64758,20231106,0,20231105,1900,2.622,-76.25,42.44,1.1,1.3,...,0.336,0.308,0.307,0.309,0.023,7.6,8.2,8.8,9.1,10.4
7416,64758,20231106,100,20231105,2000,2.622,-76.25,42.44,-0.1,0.0,...,0.336,0.309,0.307,0.309,0.021,7.3,8.0,8.8,9.1,10.4
7417,64758,20231106,200,20231105,2100,2.622,-76.25,42.44,-0.5,-0.4,...,0.336,0.309,0.308,0.309,0.022,7.0,7.9,8.7,9.2,10.4
7418,64758,20231106,300,20231105,2200,2.622,-76.25,42.44,-1.4,-1.3,...,0.336,0.309,0.308,0.309,0.022,6.8,7.7,8.6,9.1,10.6
7419,64758,20231106,400,20231105,2300,2.622,-76.25,42.44,-1.9,-1.6,...,0.336,0.309,0.307,0.310,0.022,6.6,7.6,8.4,9.2,10.4

In [10]:
df.columns = headers_list

In [11]:
df

,WBANNO,UTC_DATE,UTC_TIME,LST_DATE,LST_TIME,CRX_VN,LONGITUDE,LATITUDE,T_CALC,T_HR_AVG,...,SOIL_MOISTURE_5,SOIL_MOISTURE_10,SOIL_MOISTURE_20,SOIL_MOISTURE_50,SOIL_MOISTURE_100,SOIL_TEMP_5,SOIL_TEMP_10,SOIL_TEMP_20,SOIL_TEMP_50,SOIL_TEMP_100
0,64758,20041027,2200,20041027,1700,1.201,-76.25,42.44,NaN,NaN,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
1,64758,20041027,2300,20041027,1800,1.201,-76.25,42.44,NaN,NaN,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
2,64758,20041028,0,20041027,1900,1.201,-76.25,42.44,7.8,7.6,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
3,64758,20041028,100,20041027,2000,1.201,-76.25,42.44,6.5,7.0,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
4,64758,20041028,200,20041027,2100,1.201,-76.25,42.44,5.4,6.2,...,-99.000,-99.000,-99.000,-99.000,-99.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,64758,20231106,0,20231105,1900,2.622,-76.25,42.44,1.1,1.3,...,0.336,0.308,0.307,0.309,0.023,7.6,8.2,8.8,9.1,10.4
7416,64758,20231106,100,20231105,2000,2.622,-76.25,42.44,-0.1,0.0,...,0.336,0.309,0.307,0.309,0.021,7.3,8.0,8.8,9.1,10.4
7417,64758,20231106,200,20231105,2100,2.622,-76.25,42.44,-0.5,-0.4,...,0.336,0.309,0.308,0.309,0.022,7.0,7.9,8.7,9.2,10.4
7418,64758,20231106,300,20231105,2200,2.622,-76.25,42.44,-1.4,-1.3,...,0.336,0.309,0.308,0.309,0.022,6.8,7.7,8.6,9.1,10.6
7419,64758,20231106,400,20231105,2300,2.622,-76.25,42.44,-1.9,-1.6,...,0.336,0.309,0.307,0.310,0.022,6.6,7.6,8.4,9.2,10.4

In [14]:
df.isna().sum()

0
WBANNO                   0
UTC_DATE                 0
UTC_TIME                 0
LST_DATE                 0
LST_TIME                 0
CRX_VN                   0
LONGITUDE                0
LATITUDE                 0
T_CALC                1384
T_HR_AVG              1446
T_MAX                 1385
T_MIN                 1389
P_CALC                 832
SOLARAD                  0
SOLARAD_FLAG             0
SOLARAD_MAX              0
SOLARAD_MAX_FLAG         0
SOLARAD_MIN              0
SOLARAD_MIN_FLAG         0
SUR_TEMP_TYPE            0
SUR_TEMP               724
SUR_TEMP_FLAG            0
SUR_TEMP_MAX          9911
SUR_TEMP_MAX_FLAG        0
SUR_TEMP_MIN          9911
SUR_TEMP_MIN_FLAG        0
RH_HR_AVG            48248
RH_HR_AVG_FLAG           0
SOIL_MOISTURE_5          0
SOIL_MOISTURE_10         0
SOIL_MOISTURE_20         0
SOIL_MOISTURE_50         0
SOIL_MOISTURE_100        0
SOIL_TEMP_5          58675
SOIL_TEMP_10         58675
SOIL_TEMP_20         58675
SOIL_TEMP_50         58675
SOIL_TEMP_100        58675
dtype: int64

In [15]:
df.to_csv('hourly02-NY_Ithaca_13_E.csv')